<section class="single-product section-product ds_index_page">
  <div class="wrapper">
    <div class="section-content" >
      <div class="grid--table product-single">
        <div class="grid__item large--one-half medium--one-whole small--one-whole single-product-content text-right">
          <div class="feature-copy">
          <span id="ProductPrice" class="standard-index" itemprop="price"><ly-as-3948785>Benefits of value-added services (like charging kiosks):</ly-as-3948785></span>
            
            <ul class="ds_graph_list">
              <li>
                <div class="ds_list_index">01</div>
                <div class="ds_list_item"><ly-as-3948786>Increased dwell-time at kiosk site = increased opportunities for revenue</ly-as-3948786></div>
              </li>
              <li>
                <div class="ds_list_index">02</div>
                <div class="ds_list_item"><ly-as-3948787>Chargers act as a platform for location-specific promotion and advertising</ly-as-3948787></div>
              </li>
              <li>
                <div class="ds_list_index">03</div>
                <div class="ds_list_item"><ly-as-3948788>Helps a business stand out from its competition</ly-as-3948788></div>
              </li>
              <li>
                <div class="ds_list_index">04</div>
                <div class="ds_list_item"><ly-as-3948789>Increased word-of-mouth and social media interaction</ly-as-3948789></div>
              </li>
              <li>
                <div class="ds_list_index">05</div>
                <div class="ds_list_item"><ly-as-3948790>Positive associations with your brand</ly-as-3948790></div>
              </li>
              <li>
                <div class="ds_list_index">06</div>
                <div class="ds_list_item"><ly-as-3948791>Increased customer satisfaction</ly-as-3948791></div>
              </li>
              <li><a href="/pages/why-charging-kiosks" class="drawer-nav__link"><ly-as-3948792>More</ly-as-3948792></a></li>
            </ul>
          </div>
        </div>
        <div class="grid__item large--one-half medium--one-whole small--one-whole text-right image- single-product-image" >
          <div class="product-single__photos" id="ProductPhoto">
            <img src="{{ 'image-product-XePower-Max.jpg' | asset_url }}" alt="<ly-as-3948793>Xe-Power Max</ly-as-3948793>">
            <h2 class="section_title"><ly-as-3948784>Charging Kiosks > Location-specific customers > Increased dwell-time > Increased sales</ly-as-3948784></h2>
          </div>
        </div>
        {%comment%}
        <div class="grid__item large--one-third medium--one-whole small--one-whole single-product-content text-left">
          <div class="feature-copy">
          <span id="ProductPrice" class="standard-index" itemprop="price"><ly-as-3948785>Benefits of value-added services (like charging kiosks):</ly-as-3948785></span>
            
            <ul class="ds_graph_list">
              <li>
                <div class="ds_list_index">01</div>
                <div class="ds_list_item"><ly-as-3948786>Increased dwell-time at kiosk site = increased opportunities for revenue</ly-as-3948786></div>
              </li>
              <li>
                <div class="ds_list_index">02</div>
                <div class="ds_list_item"><ly-as-3948787>Chargers act as a platform for location-specific promotion and advertising</ly-as-3948787></div>
              </li>
              <li>
                <div class="ds_list_index">03</div>
                <div class="ds_list_item"><ly-as-3948788>Helps a business stand out from its competition</ly-as-3948788></div>
              </li>
              <li>
                <div class="ds_list_index">04</div>
                <div class="ds_list_item"><ly-as-3948789>Increased word-of-mouth and social media interaction</ly-as-3948789></div>
              </li>
              <li>
                <div class="ds_list_index">05</div>
                <div class="ds_list_item"><ly-as-3948790>Positive associations with your brand</ly-as-3948790></div>
              </li>
              <li>
                <div class="ds_list_index">06</div>
                <div class="ds_list_item"><ly-as-3948791>Increased customer satisfaction</ly-as-3948791></div>
              </li>
              <li><a href="/pages/why-charging-kiosks" class="drawer-nav__link"><ly-as-3948792>More</ly-as-3948792></a></li>
            </ul>
          </div>
          {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</section>
