<section class="featured_collections">

	<div class="grid-uniform product-grid section-content">
		<div class="grid__item one-third medium-down--one-whole single-product-content text-center">
			<div class="feature-copy"><h2 class="section_title">Grid one</h2></div>
		</div>
		<div class="grid__item one-third medium-down--one-whole single-product-content text-center">
			<div class="feature-copy">Grid Two</div>
		</div>
		<div class="grid__item one-third medium-down--one-whole single-product-content text-center">
			<div class="feature-copy">Grid Three</div>
		</div>
	</div>

</section>